.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar>div {
  height: 4px;
  margin: 0 1.5rem;
  
  background: var(--gray-line);
  border-radius: 4px;

  flex: 1;
  position: relative;
}

.experienceBar>div>div {
  height: 4px;

  background: var(--green);
  border-radius: 4px;
}

.experienceBar>div span.currentExperience {
  top: 12px;
  
  position: absolute;
  transform: translateX(-50%);
}